@charset "utf-8"; 
@import url(font.css); 

body {min-width:375px; width:100%; font:400 1.4rem "Noto Sans KR", sans-serif; color:#333; margin:auto;}
body::-webkit-scrollbar {display:none;}

@media screen and (min-width:801px) and (max-width:1250px)  {
.web {display:none;}
.mobile {display:none;}
.webTab {display:block;}
.tabMobile {display:block;}
.mainBanner {height:60vh;}
.mainBanner .titleArea .title {display:block; justify-content:unset; align-items:unset; text-align:center; margin-bottom:3.571em;}
.mainBanner .titleArea .title h1 {font-size:4rem;}
.mainBanner .titleArea .title span {font-size:2.4rem; margin-left:0; align-self:none;}
.mainBanner .titleArea > p {font-size:1.45rem; font-weight:300; line-height:2.206em; color:#000;}

.contWrap .content h3 {font-size:2.2rem; margin-bottom:.818em;}
.contWrap .content .item p {font-size:1.2rem; margin-bottom:3em;}
.contWrap .content .item figure {margin-bottom:2.428em;}
/* noth */
#noth .contWrap.wrap02 .content h3 {font-size:3rem;  margin-bottom:1em;}
/* magazune02 */
#magazine02 .contWrap.wrap01 .item02,
#magazine02 .contWrap.wrap01 .item03 {margin-top:35.71em;}
}


@media screen and (max-width:800px)  {
.scrollBar {display:none;}
.web {display:none;}
.webTab {display:none;}
.tabMobile {display:block;}
.mobile {display:block;}
.backBtn.mobile {position:fixed; top:revert; left:0; bottom:0; width:100vw; height:50px; border-radius:0; background:#111; z-index:100;}
.backBtn.mobile a {display:flex; justify-content:center; align-items:center; width:100%; height:100%;}
.backBtn.mobile a > span {position:relative; left:-14px;}
.backBtn.mobile a > span > span {font-size:1.4rem; font-weight:600; margin-left:6px; color:#fff;}
.backBtn.mobile img {width:24px; height:10px;}
.mainBanner {height:88vh; margin-bottom:3.571em;}
.mainBanner .titleArea {top:52%;}
.mainBanner .titleArea .title {display:block; justify-content:none; text-align:center; margin-bottom:1.714em;}
.mainBanner .titleArea .title h1 {font-size:3rem;}
.mainBanner .titleArea .title span {font-size:2.2rem; margin-left:0; align-self:none;}
.mainBanner .titleArea > p {font-size:1.3rem; font-weight:300; line-height:2.307em; color:#000;}
/* mainBanner END */

.contWrap .content {width:50%;  min-width:350px;}
.contWrap .content h3 {margin-bottom:.8em; font-size:2rem; line-height:1.5em;}
.contWrap .content .item p {margin-bottom:2.833em; font-size:1.2rem; line-height:2em;}
.contWrap .content .item figure {margin-bottom:2.428em;}
.contWrap .content .item figure span {font-size:1rem;}
/* noth */
#noth .contWrap .content .item {float:none;  width:100%;}
#noth .contWrap.wrap01 .content .item02 {margin: 0;}
#noth .contWrap.wrap01 .content .item03 {position:relative; width:100%; margin-bottom:2.142em;}
#noth .contWrap.wrap02 .content h3 {margin-bottom:1.071em; font-size:2.8rem; font-weight:500;}
#noth .contWrap.wrap02 .content .item01 {padding-bottom:0;}
#noth .contWrap.wrap02 .content .item02 {position:relative; width:100%;}

#noth .contWrap.wrap02 .content .item03 {margin:0;}
/* south */
#south .contWrap .content .item {float:none; width:100%;}
#south .contWrap.wrap01 .content .item02  {margin:0;}
#south .contWrap.wrap01 .content .item03 {position:relative; width:100%; margin-bottom:0em;}
#south .contWrap.wrap02 .content .item01 {margin-left:0;}
#south .contWrap.wrap02 .content .item02 {position:relative; width:100%; margin-bottom:3.571em;}
#south .contWrap.wrap02 .content .item03 {margin:0;}
/* west && esat */
#west .contWrap .content .item,
#east .contWrap .content .item {float:none; width:100%;}
#west .contWrap .content .item02,
#east .contWrap .content .item02 {margin:0;}
#west .contWrap .content .item02 figure:first-child,
#east .contWrap .content .item02 figure:first-child {position:relative; top:0; right:0; width:100%;}
/* magazine01 */
#magazine01 .contWrap.wrap01 {margin-bottom:2em;}
#magazine01 .contWrap .content .item {float:none; width:100%;}
#magazine01 .contWrap .content .item01 figure {margin-bottom:.714em;}
#magazine01 .contWrap .content .item02 {margin:0;}
#magazine01 .contWrap .content .item02 figure:first-child {position:relative; top:0; right:0; width:100%;}
/* magazine02 */
#magazine02 .contWrap.wrap01 {margin-bottom:2em;}
#magazine02 .contWrap .content .item {float:none;  width:100%;}
#magazine02 .contWrap .content .item02 {margin:0;}
#magazine02 .contWrap.wrap01 .item02,
#magazine02 .contWrap.wrap01 .item03 {margin-top:2.142em;}
#magazine02 .contWrap.wrap01 .item02 figure,
#magazine02 .contWrap.wrap01 .item03 figure,
#magazine02 .contWrap.wrap02 .item03 figure {position:relative; width:100%;}
/* magazine03 */
#magazine03 .contWrap.wrap01 {margin-bottom:2em;}
#magazine03 .contWrap .content .item {float:none; width:100%;}
#magazine03 .contWrap .content .item02 {margin:0;}
#magazine03 .contWrap.wrap02 .cont02 .contTitle {margin-bottom:2.357em;}
#magazine03 .contWrap.wrap02 .cont02 .contTitle h3 {font-size:2.4rem; margin-bottom:10px;}
#magazine03 .contWrap.wrap02 .cont02 .contTitle p {font-size:1.2rem;}
#magazine03 .contWrap.wrap02 .cont02 .item01 figure {position:relative; top:0; right:0; width:100%;}

.content.fadeInWebTab {opacity:1; transform:translateY(0);}
.contTitle.fadeInMobile {opacity:0; transform:translateY(75px); transition:all 1.5s;}
.contTitle.fadeInMobile.on {opacity:1; transform:translateY(0);}
.item.fadeInMobile {opacity:0; transform:translateY(75px); transition:all 1.5s;}
.item.fadeInMobile.on {opacity:1; transform:translateY(0);}
}