@charset "utf-8"; 
@import url(font.css); 
@font-face{font-family:Baskvl; src:url(../font/baskvl.ttf) format(woff);}
html{font-size:.625rem;}
body{font:400 1.4rem "Noto Sans KR", sans-serif; color:#333; margin:auto;}

.tabMobile{display:none;}
.mobile{display:none;}
img{width:100%; height:100%;}


.backBtn.webTab{position:fixed; top:56px; left:50px; width:100px; height:100px; background:#111; border-radius:50%; z-index:100;}
.backBtn a{display:flex; justify-content:center; align-items:center; width:100%; height:100%;}
.backBtn.webTab a span span{font-size:1.6rem; font-weight:700; color:#fff;}
.backBtn.webTab img{display:block; width:30px; height:12px; margin:0 auto;}
.scrollBar{position:fixed; top:50%; right:-3%; transform:rotate(90deg); width:180px; color:#111; overflow:hidden; z-index:20;}
.scrollBar:before{content:""; position:absolute; top:10px; left:50px; display:block; width:130px; height:1px; background:#999;}
.scrollBar:after{content:""; position:absolute; top:5px; left:50px; display:block; width:10px; height:10px; background:#111; border-radius:50%; animation:scrollMove 2.5s infinite; will-change:left;}
@keyframes scrollMove {
    10%{left:50px; opacity:1;}
    100%{left:110%;}
}
.scrollBar span{font-size:.8rem; font-weight:700;}
/* fixed element END */


.mainBanner{position:relative; width:100%; height:800px; margin-bottom:9em; overflow:hidden;}
.mainBanner .mainImgBox{position:absolute; top:0; left:0; width:100%; height:100%; transform:scale(1.2); transition:all 3s;}
.mainBanner .mainImgBox.on{transform:scale(1);}
.mainBanner .imgBox{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:100%; height:100%;}
.mainBanner .titleArea {position:relative; top:50%; left:0; z-index:50; transform:translateY(-70%); opacity:0; transition:all 2.5s;}
.mainBanner .titleArea.on{transform:translateY(-50%); opacity:1;}
.mainBanner .titleArea .title{position:relative; display:flex; justify-content:center; align-items: center; margin-bottom:2.571em; text-align:center;}
.mainBanner .titleArea .title h1{font-family:"Nanum Myeongjo", serif; font-size:5.5rem; font-weight:400; line-height:1.2em; letter-spacing:-3px; color:#111;}
.mainBanner .titleArea .title span{margin-left:10px; font-size:2.8rem; font-weight:300;}
.mainBanner .titleArea > p{font-size:1.6rem; font-weight:400; line-height:2.25em; text-align:center; color:#333;}
/* mainBanner END */


/* -- contWrap 공통css -- */
.contWrap{margin-bottom:5em;}
.contWrap .content{position:relative; width:80%; max-width:1200px; margin:0 auto;}
.contWrap .content h3{margin-bottom:1.25em; font-family:"Nanum Myeongjo", serif; font-size:2.4rem; font-weight:600; line-height:1.416em; color:#000;}
.contWrap .content .item p{margin-bottom:2.142em; font-size:1.4rem; line-height:2.142em;}
.contWrap .content .item figure{margin-bottom:2.142em; background: #fff;}
.contWrap .content .item figure span{float:right; margin-top:.416em; font-size:1.2rem;}

.content.fadeInWebTab{opacity:0; transform:translateY(150px); transition:all 2s;}
.content.fadeInWebTab.on{opacity:1; transform:translateY(0);}

/* -- contWrap 개별css -- */
#east .mainBanner .mainImgBox {background:url(../img/eastBg01.jpg) no-repeat center/cover;}
#east .contWrap .content .item{width:30%; display:inline-block; vertical-align:bottom;}
#east .contWrap .content .item02{margin:0 4.5%;}
#east .contWrap .content .item02 figure:first-child{position:absolute; top:0; right:0; width:65%;}
/* east END*/
#south .mainBanner .mainImgBox {background:url(../img/south_noth_bg.jpg) no-repeat center/cover;}
#south .contWrap .content .item{float:left; width:30%;}
#south .contWrap.wrap01 .content .item02{margin:0 5%;}
#south .contWrap.wrap02 .content .item01{margin-left:70%;}
#south .contWrap.wrap02 .content .item02{position:absolute; top:0; left:0; width:65%;}
#south .contWrap.wrap02 .content .item03{margin:0 5%;}
/* south END */
#noth .mainBanner .mainImgBox {background:url(../img/south_noth_bg.jpg) no-repeat center/cover;}
#noth .contWrap .content .item{float:left; width:30%;}
#noth .contWrap.wrap01 .content .item02{margin:0 5%;}
#noth .contWrap.wrap01 .content .item03{position:absolute; bottom:0; left:0; width:65%;}
#noth .contWrap.wrap02 .content h3{font-size:3.3rem; font-weight:500; margin-bottom:1.09em;}
#noth .contWrap.wrap02 .content .item01{padding-bottom:2.856em;}
#noth .contWrap.wrap02 .content .item02{position:absolute; bottom:0; right:0; width:65%;}
#noth .contWrap.wrap02 .content .item03{margin:0 5%;}
/* noth END*/
#west .mainBanner .mainImgBox {background:url(../img/westBg.jpg) no-repeat center/cover;}
#west .contWrap .content .item{width:30%; display:inline-block; vertical-align:bottom;}
#west .contWrap .content .item02{margin:0 4.5%;}
#west .contWrap .content .item02 figure:first-child{position:absolute; top:0; right:0; width:65%;}
/* west END */
#magazine01 .scrollBar.on:after{background:#fff;}
#magazine01 .scrollBar.on span{color:#fff}
#magazine01 .mainBanner .mainImgBox {background:url(../img/magazinA01.jpg) no-repeat center/cover;}
#magazine01 .mainBanner .titleArea .title h1 {color:#fff;}
#magazine01 .mainBanner .titleArea > p {color:#fff;}
#magazine01 .contWrap .content .item{width:30%; display:inline-block; vertical-align:bottom;}
#magazine01 .contWrap .content .item02{margin:0 4.5%;}
#magazine01 .contWrap .content .item02 figure:first-child{position:absolute; top:0; right:0; width:65%;}
/* maganzine01 END */
#magazine02 .mainBanner .mainImgBox {background:url(../img/magazineB01.jpg) no-repeat center/cover;}
#magazine02 .contWrap .content .item{width:30%; display:inline-block; vertical-align:top;}
#magazine02 .contWrap .content .item02{margin:0 4.5%;}
#magazine02 .contWrap.wrap01 .item02,
#magazine02 .contWrap.wrap01 .item03{margin-top:42.85em;}
#magazine02 .contWrap.wrap01 .item02 figure{position:absolute; top:0; right:0; width:65%;}
#magazine02 .contWrap.wrap01 .item03 figure{position:absolute; bottom:0; left:0; width:65%;}
#magazine02 .contWrap.wrap02 .item03 figure{position:absolute; bottom:0; right:0; width:65%;}
/* maganzine02 END */
#magazine03 .mainBanner .mainImgBox {background:url(../img/magazineC01.jpg) no-repeat center/cover;}
#magazine03 .contWrap .content .item{float:left; width:30%;}
#magazine03 .contWrap .content .item02{margin:0 5%;}
#magazine03 .contWrap.wrap02 .cont02 .contTitle{margin-bottom:3.571em; text-align:center;}
#magazine03 .contWrap.wrap02 .cont02 .contTitle h3{font-size:3rem; margin-bottom:10px;}
#magazine03 .contWrap.wrap02 .cont02 .contTitle p{font-size:1.3rem;}
#magazine03 .contWrap.wrap02 .cont02 .item01 figure{position:absolute; top:124px; right:0; width:65%;}
/* maganzine03 END */

