@charset utf-8;@import url(font.css);
html{font-size:.625rem;}
body{min-width:413px;width:100%;font:400 1.4rem "Noto Sans KR", sans-serif;color:#333;margin:auto;}
body::-webkit-scrollbar{display:none;}
@media screen and min-width801px and max-width1250px {
.web{display:none;}
.mobile{display:none;}
.webTab{display:block;}
.tabMobile{display:block;}
.mainBanner{height:60vh;}
.mainBanner .titleArea .title{display:block;justify-content:none;text-align:center;margin-bottom:3.571em;}
.mainBanner .titleArea .title h1{display:block;font-size:4rem;}
.mainBanner .titleArea .title span{font-size:2.4rem;margin-left:0;align-self:none;}
.mainBanner .titleArea > p{font-size:1.45rem;font-weight:300;line-height:2.206em;color:#000;}
.contWrap .content h3{font-size:2.2rem;margin-bottom:.818em;}
.contWrap .content .item p{font-size:1.2rem;margin-bottom:3em;}
.contWrap .content .item figure{margin-bottom:2.428em;}
}
@media screen and min-width413px and max-width800px {
.mouseScroll{display:none;}
.web{display:none;}
.webTab{display:none;}
.tabMobile{display:block;}
.mobile{display:block;}
.backBtn.mobile{position:fixed;top:revert;left:0;bottom:0;width:100vw;height:50px;border-radius:0;background:#111;z-index:100;}
.backBtn.mobile a{display:flex;justify-content:center;align-items:center;width:100%;height:100%;}
.backBtn.mobile a span span{font-size:1.4rem;font-weight:600;margin-left:6px;color:#fff;}
.backBtn.mobile img{width:24px;height:10px;}
.mainBanner{height:88vh;margin-bottom:3.571em;}
.mainBanner .titleArea{top:52%;}
.mainBanner .titleArea .title{display:block;justify-content:none;text-align:center;margin-bottom:1.714em;}
.mainBanner .titleArea .title h1{display:block;font-size:3.2rem;}
.mainBanner .titleArea .title span{font-size:2.2rem;margin-left:0;align-self:none;}
.mainBanner .titleArea > p{font-size:1.3rem;font-weight:300;line-height:2.307em;color:#000;}
.contWrap.wrap01{margin-bottom:1.428em;}
.contWrap .content{width:50%;}
.contWrap .content .item{float:none;width:100%;}
.contWrap .content h3{margin-bottom:.8em;font-size:2rem;line-height:1.5em;}
.contWrap .content .item p{margin-bottom:2.833em;font-size:1.2rem;line-height:2em;}
.contWrap .content .item figure{margin-bottom:2.428em;}
.contWrap .content .item figure span{font-size:1rem;}
.contWrap .content .item02{margin:0;}
.contWrap.wrap01 .content .item03{position:relative;width:100%;margin-bottom:5em;}
.contWrap.wrap02 .content .item01{margin-left:0;}
.contWrap.wrap02 .content .item02{position:relative;width:100%;margin-bottom:3.571em;}
.contWrap.wrap02 .content .item03{margin:0;}
.content.fadeInWebTab{opacity:1;transform:translateY(0);}
.contTitle.fadeInMobile{opacity:0;transform:translateY(75px);transition:all 1.5s;}
.contTitle.fadeInMobile.on{opacity:1;transform:translateY(0);}
.item.fadeInMobile{opacity:0;transform:translateY(75px);transition:all 1.5s;}
.item.fadeInMobile.on{opacity:1;transform:translateY(0);}
}